.btn:focus {
  outline: none;
  box-shadow: none;
}

html {
  scroll-behavior: smooth;
}

.row {
  margin: 0;
}

header {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: auto;
  position: relative;
}

.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 29%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  align-items: center;
  z-index: 9999999;
}

header .title {
  position: relative;
  z-index: 99999;
  padding-top: 130px;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
}

.navbar .navbar-brand {
  width: 10%;
  padding: 10px;
}

.navbar .navbar-brand img {
  width: 100%;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 50px;
}

.navbar-nav .nav-item {
  width: 100%;
  font-size: 18px;
  padding: 5px;
}

.navbar-nav .nav-item a {
  color: #fff !important;
  font-weight: bold;
  transition: all 0.5s ease;
}

.navbar-nav .nav-item:hover .nav-link,
.navbar-nav .active {
  color: #de4b38 !important;
}

.navbar-nav .active a {
  color: #de4b38 !important;
}

.dropdown-toggle::after {
  visibility: hidden;
  margin-left: 0px;
}

.nav-item .dropdown-menu {
  overflow: hidden;
}

.nav-item .dropdown-menu .dropdown-item {
  color: #aaa !important;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.5s ease;
}

.nav-item .dropdown-menu .dropdown-item:hover {
  color: #de4b38 !important;
  transform: translateX(-5px);
}

header .title h1 {
  font-size: 80px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 700;
}

header .title p {
  font-weight: 600;
  font-size: 23px;
  margin: 25px auto;
}

header .title a {
  all: unset;
  width: auto;
  height: auto;
  margin-right: 10px;
  overflow: hidden;
}

header .title a button {
  font-weight: 600;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: #de4b38;
  font-size: 18px;
  line-height: 40px;
  margin: 20px 0 50px;
  color: #fff;
  transition: all 0.5s ease;
  width: fit-content;
  padding: 5px 25px;
}

.title .btn:hover {
  color: #000 !important;
  background-color: #fff !important;
}

.title .link {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.title .ankor {
  display: inline-block;
  margin: 50px auto;
  width: 32px;
  height: 55px;
  text-align: center;
  border-radius: 24px;
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.title .ankor .fa-circle {
  font-size: 8px;
  animation: ankor 2.5s infinite linear;
  color: #fff;
}

@keyframes ankor {
  0% {
    transform: translateY(-5px);
    opacity: 0;
  }

  25% {
    transform: translateY(0px);
    opacity: 0;
  }

  50% {
    transform: translateY(20px);
    opacity: 1;
  }

  75% {
    transform: translateY(25px);
    opacity: 0;
  }

  100% {
    transform: translateY(-5px);
    opacity: 0;
  }
}

.title .sidebar {
  width: 40px;
  height: 90px;
  background-color: #fff;
  position: fixed;
  z-index: 999999999;
  text-align: center;
  padding: 15px 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  right: 0px;
  top: 200px;
}

.title .sidebar i {
  height: 25%;
  color: #666;
  width: 100%;
  display: block;
  font-size: 20px;
}

.part1 {
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

.part1 .row i {
  color: #eee;
  background-color: #de4b38;
  border-radius: 50%;
  padding: 25px;
  line-height: 40px;
  font-size: 35px;
  margin: 20px 0 10px;
}

.part1 .row h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0;
  color: #634a4b;
}

.part1 .row p {
  color: #888;
  font-size: 16px;
  line-height: 25px;
}

.part2 {
  text-align: center;
  padding: 50px 0;
  width: 100%;
  background-color: #f8f8f8;
}

.part2 h2 {
  font-size: 50px;
  margin: 10px 0 30px;
  color: #634a4b;
}

.part2 p {
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #606060;
}

.part2 .btn {
  font-size: 20px;
  background-color: #de4b38;
  color: #fff;
  margin-top: 40px;
  padding: 5px 25px;
  font-weight: 500;
  border-radius: 30px;
  transition: all 0.5s ease;
}

.part2 .btn:hover {
  background-color: #000 !important;
}

.part3 {
  text-align: center;
  padding: 100px 0;
  position: relative;
  width: 100%;
  height: auto;
  background-image: url(../img/01.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: #fff;
}

.part3 .top {
  position: relative;
  z-index: 99999;
}

.part3 h4 {
  font-size: 25px;
  margin: 0 0 30px;
  font-weight: 600;
}

.part3 p {
  font-size: 50px;
  padding: 0 60px;
  margin: 10px 0 20px;
  font-weight: 600;
}

.part3 .btn {
  border: 2px solid #fff;
  line-height: 30px;
  border-radius: 30px;
  padding: 5px 25px;
  color: #fff;
  margin-top: 10px;
}

.part3 .btn i {
  margin-top: 2px;
  margin-left: 5px;
  display: none;
  transition: all 0.5s ease;
}

.part3 .btn:hover {
  transform: translateX(-5px);
  transition: all 0.5s ease;
  color: #000;
  background-color: #fff;
}

.part3 .btn:hover i {
  display: inline-block;
  transition: all 0.5s ease;
}

.part4 {
  text-align: center;
  padding: 50px 0;
  width: 100%;
  background-color: #f8f8f8;
}

.part4 h2 {
  color: #634a4b;
  font-size: 48px;
  font-weight: 600;
  margin: 50px 0;
}

.part4 .row {
  justify-content: space-around !important;
}

.part4 .cell {
  text-align: left;
}

.part4 .cell-2 {
  border: 1px solid #efefef;
  padding: 0 20px;
}

.part4 img {
  width: 100%;
}

.part4 h3 {
  color: #de4b38;
  font-size: 22px;
  margin: 20px 0;
  font-weight: 700;
}

.part4 p {
  color: #aaa;
  font-size: 14px;
}

.part4 p a {
  color: #aaa;
}

.part4 .text {
  color: #686868;
  font-size: 15px;
}

.part4 .more {
  display: inline-block;
  color: #aaa;
  font-size: 16px;
  margin: 10px 0;
  transition: all 0.1s ease;
}

.part4 .more i {
  margin-left: 5px;
}

.part4 a:hover {
  text-decoration: none;
  color: #de4b38;
}

.part4 .more:hover i {
  transform: translateX(10px);
  transition: all 0.5s ease;
}

.part5 {
  text-align: center;
  padding: 100px 0;
  position: relative;
  width: 100%;
  height: auto;
  background-image: url(../img/05.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: #fff;
}

.part5 .top {
  position: relative;
  z-index: 99999;
}

.part5 h4 {
  font-size: 25px;
  margin: 0 0 30px;
  font-weight: 600;
}

.part5 p {
  font-size: 50px;
  padding: 0 60px;
  margin: 10px 0 20px;
  font-weight: 600;
}

.part5 .btn {
  border: 2px solid #fff;
  line-height: 30px;
  border-radius: 30px;
  padding: 5px 25px;
  color: #fff;
  margin-top: 10px;
}

.part5 .btn i {
  margin-top: 2px;
  margin-left: 5px;
  display: none;
  transition: all 0.5s ease;
}

.part5 .btn:hover {
  transform: translateX(-5px);
  transition: all 0.5s ease;
  color: #000;
  background-color: #fff;
}

.part5 .btn:hover i {
  display: inline-block;
  transition: all 0.5s ease;
}

.part6 {
  background-color: #de4b38;
  padding: 50px 0;
  text-align: center;
  color: #fff;
}

.part6 h2 {
  font-size: 50px;
  margin: 30px 0;
}

.part6 p {
  font-size: 22px;
  margin-bottom: 20px;
}

.part6 button {
  font-size: 18px;
  color: #fff;
  border: 2px solid #fff;
  padding: 15px 25px;
  font-weight: 600;
  border-radius: 35px;
  margin-top: 20px;
}

footer {
  background-color: #1a1b1e;
  color: #fff;
  text-align: left;
  height: auto;
}

footer .container {
  padding: 25px 0;
}

footer .container .row .cell h3 {
  font-size: 18px;
  margin: 60px 0 30px;
}

footer .container .row .cell p,
ul {
  font-size: 16px;
  color: #797979;
}

footer .container .row .cell p {
  margin: 40px 0;
}

footer .container .row .cell ul {
  list-style: none;
  padding-left: 0;
  padding-right: 15px;
}

footer .container .row .cell ul li {
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #797979;
}

.last-one .test {
  position: relative;
  background-image: url(../img/footer.png);
  background-size: 100% 100%;
}

.last-one .overlay {
  background-color: rgb(26 27 30 / 78%);
}

footer .container .row .last-one ul {
  position: relative;
  z-index: 99999;
  color: #797979;
}

footer .container .row .last-one ul i {
  margin-right: 10px;
}

footer .container .row .last-one ul> :first-child {
  padding: 20px 0;
  color: #797979;
}

footer .container .row .last-one ul a {
  all: unset;
  cursor: pointer;
  color: #797979 !important;
  transition: all 0.5s ease;
}

footer .container .row .last-one ul a:hover {
  color: #de4b38 !important;
}

footer .copy {
  background-color: #131416;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  color: #797979;
  width: 100%;
  position: absolute;
  z-index: 925252;
}

footer .social {
  padding-right: 20px;
}

footer .copy .social {}

footer .copy .social a {
  all: unset;
  cursor: pointer;
}

footer .copy .social a i {
  font-size: 35px;
  color: #484747;
  margin-right: 10px;
}

footer .copy .social a:hover .fa-facebook {
  color: #4867aa;
  transition: all 0.2s linear;
}

footer .copy .social a:hover .fa-google-plus {
  color: #dc4e41;
  transition: all 0.2s linear;
}

footer .copy .social a:hover .fa-linkedin {
  color: #007ab9;
  transition: all 0.2s linear;
}

footer .copy .social a:hover .fa-twitter-square {
  color: #55acee;
  transition: all 0.2s linear;
}

/* start media-414px */

@media (max-width: 414px) {
  .navbar .navbar-brand {
    width: 22%;
    padding: 0;
  }

  .navbar-nav .nav-item {
    font-size: 18px;
    line-height: 1.2;
    padding: 25px 5px 0;
  }

  .navbar-nav .active {
    padding-top: 35px;
    border-top: 0;
    border-radius: 0;
    color: #de4b38 !important;
  }

  header .title h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 900;
  }

  header .title p {
    font-weight: 600;
    font-size: 18px;
    margin: 25px auto;
    font-weight: 700;
  }

  header .title a button {
    width: auto;
    font-weight: 900;
    margin: 20px 0 0;
  }

  header .title .sidebar {
    height: 80px;
    top: 220px;
  }

  .part2 h2 {
    font-size: 35px;
  }

  .part2 p {
    padding: 0 30px;
  }

  .part3 {
    padding: 80px 0;
  }

  .part3 p {
    font-size: 45px;
    padding: 0 20px;
  }

  .part4 h2 {
    font-size: 35px;
  }

  .part5 {
    padding: 80px 0;
  }

  .part5 p {
    font-size: 45px;
    padding: 0 20px;
  }

  .part6 h2 {
    font-size: 40px;
    font-weight: 700;
  }

  .part6 p {
    font-size: 20px;
    font-weight: 500;
  }

  footer .container .row .cell {
    padding: 0 40px;
  }

  footer .copy {
    flex-direction: column;
    padding: 30px 0;
  }

  footer .copy .social {
    margin-top: 15px;
  }
}

/* End media-414px */
/* start media-768px */
@media (max-width: 768px) {
  .navbar .navbar-brand {
    width: 15%;
  }

  .navbar-nav .nav-item {
    font-size: 18px;
    line-height: 1.2;
    padding: 25px 5px 0;
  }

  .navbar-nav .active {
    padding-top: 35px;
    border-top: 0;
    border-radius: 0;
    color: #de4b38 !important;
  }

  header .title h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 900;
  }

  header .title p {
    font-weight: 600;
    font-size: 18px;
    margin: 25px auto;
    font-weight: 700;
  }

  header .title a button {
    width: auto;
    font-weight: 900;
    margin: 20px 0 0;
  }

  header .title .sidebar {
    height: 80px;
    top: 220px;
  }

  .part2 h2 {
    font-size: 35px;
  }

  .part2 p {
    padding: 0 30px;
  }

  .part3 {
    padding: 80px 0;
  }

  .part3 p {
    font-size: 45px;
    padding: 0 20px;
  }

  .part4 h2 {
    font-size: 35px;
  }

  .part5 {
    padding: 80px 0;
  }

  .part5 p {
    font-size: 45px;
    padding: 0 20px;
  }

  .part6 h2 {
    font-size: 40px;
    font-weight: 700;
  }

  .part6 p {
    font-size: 20px;
    font-weight: 500;
  }

  footer .copy {
    padding: 30px 30px 30px 40px;
  }
}

/* End media-768px */
/* start media-929px */
@media (max-width: 929px) {
  .navbar {
    background-color: #000000d1;
  }

  .navbar-nav {
    margin-right: 0;
  }

}

/* End media-929px */